@import "../styles/app";

.parent {
  padding-inline: 5%;
}
.componentSpace {
  margin-top: 3em;
}

// home
#home {
  flex-direction: column;
  max-width: max-content;
}

// hero
#hero {
  max-width: 1800px !important;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  // height: max(80vh, 670px);
  height: clamp(600px, 40vh, 700px);
  gap: 1%;
  .contup {
    height: 450px;
  }
  img {
    width: 40%;
    height: 100%;
  }
  .conthero {
    max-width: 60%;
    gap: clamp(1em, 6vh, 3em);
    h1 {
      font-size: var(--step-h1) !important;
      text-align: end;
    }
    span {
      width: min(100%, 80%);
      font-size: var(--step-span) !important;
      font-weight: 500;
      text-align: end;
    }
    .v-btn {
      box-shadow: $sombra-boton !important;
      padding: 1.3em;
      span {
        color: #FFFFFF;
      }
    }
  }
  .contsearch {
    width: 40%;
    margin-block: 3%;
    .v-input__slot {
      background-color: transparent;
      border: 2px solid $color-boton;
      border-radius: 0 10em 0 10em;
      padding-inline: 3ch;
      input {
        color: var(--color);
      }
      .label {
        margin-left: 1ch;
      }
    }
    .conticon {
      width: 2.1875em;
      i {
        color: $color-boton !important;
      }
    }
    .conticon:before {
      content: "";
      position: absolute;
      inset: 0;
      width: 2px;
      background-color: $color-boton;
    }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// recomended
#recomended {
  font-size: 14px;
  // max-width: 90%;
  margin-inline: auto;
  h2 {
    font-weight: 500;
  }
  .contflechas {
    gap: clamp(0.5em, 2vw, 2em);
    .v-btn {
      width: max-content;
      height: max-content;
      background-color: #ef3340;
      transition: 0.2s ease-in-out;
    }
    .left:is(:hover, :focus) {
      transform: translateX(-10%);
    }
    .right:is(:hover, :focus) {
      transform: translateX(10%);
    }
  }
  .contdown {
    background-color: var(--colorFondoCartas);
    .v-carousel {
      .row {
        .col {
          display: flex;
          flex-direction: column;
          gap: 3em;
          // content
          .v-card {
            margin-inline: auto;
            width: 90%;
            padding: 1em;
            img {
              width: 100%;
            }
            .v-btn {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin-inline: auto;
              img {
                width: 6em;
              }
            }
          }
          aside {
            max-width: 80%;
            gap: 0.5em;
            span {
              font-weight: 500 !important;
            }
            p {
              font-weight: 100 !important;
            }
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// ranking
#ranking {
  font-size: 14px;
  max-width: 90%;
  margin-inline: auto;
  h2 {
    font-weight: 500;
  }
  .contright {
    gap: 1em;
    .divrow {
      gap: 1em;
    }
    .v-input {
      max-width: clamp(140px, 10vw, 150px);
      .v-input__control {
        display: flex;
        justify-content: center;
        .v-input__slot {
          min-height: clamp(1.8em, 3vw, 2em);
          background-color: var(--colorCartas2);
          box-shadow: none !important;
          .v-icon {
            color: $color-boton !important;
          }
        }
      }
    }
  }
  .contdown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: clamp(1em, 1vw, 1.5em);
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .relative {
      .number {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #FFFFFF;
        background-color: $color-boton;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6%;
        height: 30%;
        // padding: 3%;
        border-radius: 50% 0 0 50%;
      }
      .v-card:is(:hover, :focus) {
        transform: translateY(-5%);
      }
      .v-card {
        max-width: 94%;
        margin-left: auto;
        padding-inline: 1em;
        padding-block: 0.5em;
        box-shadow: $sombra-cartas !important;
        transition: 0.2s ease-in-out;
        .greenPercent {
          color: #85dbb5 !important;
        }
        .redPercent {
          color: #ff0000 !important;
        }
        img {
          width: 25%;
        }
        aside {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-inline: clamp(1em, 2vw, 2em);
          span {
            font-weight: 500;
            line-height: 4ch;
          }
          .tl {
            font-weight: 700 !important;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// newCollections
#newCollections {
  font-size: 14px;
  aside:nth-child(1) {
    margin-bottom: 2em;
  }
  h2 {
    font-weight: 500;
  }
  .contright {
    gap: clamp(0.5em, 1vw, 1em);
    label {
      font-weight: 500;
    }
    .v-btn {
      width: max-content;
      height: max-content;
      background-color: #ef3340;
      transition: 0.2s ease-in-out;
    }
    .right:is(:hover, :focus) {
      transform: translateX(10%);
    }
  }
  .contdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
    grid-gap: 2em;
    background-color: var(--colorFondoCartas);
    padding: 5%;
    .v-card:is(:hover, :focus) {
      transform: translateY(-1%);
      box-shadow: inset 0 0 1px 2px #ef3340 !important;
    }
    .v-card {
      padding: clamp(2em, 3vw, 3em);
      height: max-content;
      box-shadow: $sombra-cartas !important;
      transition: 0.2s ease-in-out;
      .images {
        border-radius: 5%; 
        object-fit: cover;
        width: 100%;
        height: clamp(15em, 19vw, 19em);
      }
      .weight {
        color: #bcbcbc !important;
        font-weight: 400 !important;
      }
      .tl {
        text-decoration: underline;
        font-weight: 500 !important;
      }
      .price {
        font-weight: 600 !important;
      }
    }
    .sectdown {
      margin-top: 0.4em
    }
  }

  .acerca {
    display: flex;
    background-color: var(--colorFondoCartas);
    padding: 8%;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  }
}

////////////////////////rounded image///////////////////////////////5
.rounded-image {
  object-fit: cover; /* Automatically scales the image to fit the container */
  border-radius: 5%; /* Creates rounded corners with a circular shape */
  height: 400px !important;
}

.rounded-image-dialog {
  object-fit: cover; /* Automatically scales the image to fit the container */
  border-radius: 5% !important; /* Creates rounded corners with a circular shape */
  width: 95% !important;
  height: 85% !important;
  max-width: 100% !important;
  max-height: 85% !important;
}

@media (max-width: 350px) {
  .rounded-image-dialog {
    border-radius: 15%; /* Creates rounded corners with a circular shape */
    width: 100% !important;
    height: 100% !important;
  }
}
/////////////////////////////////////////////////////////////////////

